<% if !signed_in? %>
	<div class="center hero-unit">
	  <h1>Welcome to the Find Scribe App</h1>

	  <h2>
	    Register now!
	  </h2>

	  <%= link_to "I am a Volunteer", signup_path(is_volunteer: "true"), class: "btn btn-large btn-primary" %>
    <%= link_to "I am a Student", signup_path, class: "btn btn-large btn-primary" %>
	</div>

<% end %>